body {
  padding: 0;
  margin: 0;
  background: #F0FFFF;
}
/*--- navigation bar ---*/
.navbar {
  background: dimgrey;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}
.header {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}
.container {
    background: #575757;
}

#Container_about {
    background: #F0F8FF;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}
.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #6ab446;
}
.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}
.description button {
  border:1px solid #6ab446;
  background:#6ab446;
  border-radius: 0;
  color:#fff;
}
.description button:hover {
  border:1px solid #fff;
  background:#fff;
  color:#000;
}
.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}
.footer-copyright {
  color: #666;
  padding: 40px 0;
}

#Container_about {
    border-radius: 15px 15px 15px 15px;
}

#h1_about {
   
    color:       white;
    font-family: "Times New Roman";
    
}
#h3_about {
    
    color:          whitesmoke;
    font-family:    "Times New Roman";
    padding-bottom: 4px;
}
#Contianer-heading {
    background:   dimgrey;
    width: 40%;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 1.5px solid red;
    
}
#Container-subheading {
    background:   dimgrey;
    width: 40%;
    border-radius: 0px 0px 15px 15px;
    border-top: 1.5px solid red;
    
}
